{% extends 'base.html' %}

{% block title %}
  Seus Eventos - Criar Evento
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
            <div class="card-header">
                <h4 class="text-center">Crie seu Evento</h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Evento:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter event name">
                    </div>

                    <div class="form-group">
                        <label for="image">Escolher Imagem:</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="image" name="banner"">
                                <label class="custom-file-label" for="image">Select archive</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Enter e-mail">
                    </div>

                    <div class="form-group">
                        <label for="phone">Celular:</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Enter phone number" pattern="[0-9]+" inputmode="numeric">
                    </div>

                    <div class="form-group">
                        <label for="address">Endereço:</label>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
                    </div>

                    <div class="form-group">
                        <label for="city">Cidade:</label>
                        <input type="text" class="form-control" id="city" name="city" placeholder="Enter city">
                    </div>

                    <div class="form-group">
                        <label for="state">Estado:</label>
                        <input type="text" class="form-control" id="state" name="state" placeholder="Enter state">
                    </div>
                
                    <div class="form-group">
                        <label for="country">País:</label>
                        <input type="text" class="form-control" id="country" name="country" placeholder="Enter country">
                    </div>

                    <div class="form-group">
                        <label for="eventDate">Data do Evento:</label>
                        <input type="date" class="form-control" id="eventDate" name="eventDate">
                    </div>

                    <div class="form-group">
                        <label for="eventTime">Hora de Início:</label>
                        <input type="time" class="form-control" id="eventTime" name="eventTimeStart">
                    </div>

                    <div class="form-group">
                        <label for="eventTime">Hora de Término:</label>
                        <input type="time" class="form-control" id="eventTime" name="eventTimeEnd">
                    </div>

                    <div class="form-group">
                        <label for="description">Descrição:</label>
                        <textarea class="form-control" id="description" name="description" rows="5" placeholder="Enter description"></textarea>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Criar</button>
                    </div>

                </form>
            </div>
            <div class="card-footer text-center">
                <p>Deseja cancelar? <a href="/login">Voltar</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}