{% extends 'base.html' %}

{% block title %}
  Seus Eventos - Editar Evento
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
            <div class="card-header">
                <h4 class="text-center">Edite seu Evento</h4>
            </div>
            <div class="card-body">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username">Evento:</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="{{ event_instance.name }}">
                    </div>

                    <div class="form-group">
                        <label for="image">Escolher Imagem:</label>
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="image" name="banner"">
                                <label class="custom-file-label" for="image">Select archive</label>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="{{ event_instance.email }}">
                    </div>

                    <div class="form-group">
                        <label for="phone">Celular:</label>
                        <input type="tel" class="form-control" id="phone" name="phone" placeholder="{{ event_instance.phone }}" pattern="[0-9]+" inputmode="numeric">
                    </div>

                    <div class="form-group">
                        <label for="description">Descrição:</label>
                        <textarea class="form-control" id="description" name="description" rows="5" placeholder="{{ event_instance.description }}"></textarea>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Editar</button>
                    </div>

                </form>
            </div>
            <div class="card-footer text-center">
                <p>Deseja cancelar edição? <a href="/login">Cancelar</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}