{% extends 'base.html' %}

{% block title %}
  Seus Eventos - Editar Perfil
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
            <div class="card-header">
                <h4 class="text-center">Edite seu Perfil</h4>
            </div>
            <div class="card-body">
                <form method="POST" class="form-signin">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputEmail">E-mail:</label>
                    <input type="text" class="form-control" id="inputEmail" placeholder="Enter new email" name="email" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Enter new password" name="password" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Editar</button>
                </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <p>Deseja cancelar edição? <a href="{% url 'profile' %}">Cancelar</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}