{% extends 'base.html' %}

{% block title %}
  Seus Eventos - Home
{% endblock %}

{% block content %}
<body style="background-color: #121212; color: #ffffff;">
  <div class="container mt-5">
      <div class="jumbotron text-center" style="background-color: #1f1f1f; color: #ffffff;">
          <h1 class="display-4">Seus Eventos</h1>
          <h2 class="lead">Crie aqui eventos de forma rápida, prática e gratuita.</h2>
          <img alt='image' class='img-fluid rounded' style='width:500px; margin-top:10px;' src='https://png.pngtree.com/png-clipart/20230626/original/pngtree-convention-event-black-and-white-greeting-corporate-crowd-vector-png-image_9227093.png'>
          <hr class="my-4" style="background-color: #ffffff;">
          <p>Pronto para começar?</p>
          <button type="button" class="btn btn-outline-primary" onclick="window.location.href='/create/'">
            Criar Evento
          </button>
      </div>
  </div>

  <!-- Adicione o link para o Bootstrap JS e o jQuery (opcional) -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
{% endblock %}
