{% extends 'base.html' %}

{% block title %}
  Seus Eventos - Entrar
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
            <div class="card-header">
                <h4 class="text-center">Entrar em Seus Eventos</h4>
            </div>
            <div class="card-body">
                <form method="POST" class="form-signin">
                {% csrf_token %}
                <div class="form-group">
                    <label for="inputUsername">Usuário:</label>
                    <input type="text" class="form-control" id="inputUsername" placeholder="Enter username" name="username1" required autofocus>
                </div>
                <div class="form-group">
                    <label for="password">Senha:</label>
                    <input type="password" class="form-control" id="inputPassword" placeholder="Enter password" name="password1" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Entrar</button>
                </div>
                </form>
            </div>
            <div class="card-footer text-center">
                <p>Não possui conta? <a href="/register">Registrar</a></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}